<!DOCTYPE html>
<html>
  <head>
    <title>Mental Training</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="./static/css/style.css"> -->
    <!-- <link rel="icon" href="./static/img/RGB.png" type="image/x-icon"> -->
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/img/icon.png" type="image/x-icon">
  </head>
  <body style="height: 100%;">
    <!-- Navbar -->
    <nav id="navbar_main" class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <img src="../static/img/icon.png" style='margin-right: 8px;' width="25" height="25" class="d-inline-block align-top">
        <!-- <img src="./static/img/RGB.png" alt="" width="30" height="30" class="d-inline-block align-top"> -->
        <a class="navbar-brand" href="#">Устный счет</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" onclick="switch_theme()">Сменить тему</a>
            </li>
          </ul>
        </div>
      </div>
      <form class="d-flex">
        <a class="navbar-brand" href="#" onclick="change_language('ru')"><img src="./static/img/russia.png" width="20px"></a>
        <a class="navbar-brand" href="#" onclick="change_language('en')"><img src="./static/img/united-kingdom.png" width="20px"></a>
        <!-- <a class="btn btn-primary" href="/room_list" role="button">Забронировать</a> -->
      </form>
    </nav>

    <!-- Floating button -->
    <a href="#" class="float" id="float_a">
      <img class="my-float" id="float_img">
    </a>

    <!-- Body -->
    <div style="margin: 15px auto 100px; width: 90%; height: 100%;">
      <div class="container-fluid" style="width: 100%; height: 80%;">
        <div class="card" style="width: 40%; margin: 0 auto 0; margin-top: 5%;">
          <div class="card-header">
            Новая игра
          </div>
          <div class="card-body">
            <label for="tasks_amount" class="form-label">Количество примеров: (5-40)</label>
            <div class="grid">
              <div class="row">
                <div class="col-10">
                  <input type="range" class="form-range" min="5" max="40" step="1" id="tasks_amount" onchange="update_range_label(this.value)">
                </div>
                <div class="col-2">
                  <label for="tasks_amount" id="range_label">23</label>
                </div>
              </div>
            </div>
            <h5 class="card-title">Операции:</h5>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="check_plus">
              <label class="form-check-label" for="flexCheckDefault">
                Сложение
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="check_minus">
              <label class="form-check-label" for="flexCheckDefault">
                Вычитание
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="check_mult">
              <label class="form-check-label" for="flexCheckDefault">
                Произведение
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="check_div">
              <label class="form-check-label" for="flexCheckDefault">
                Деление
              </label>
            </div>
            <br>
            <h5 class="card-title">Сложность:</h5>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="radio_difficulty" id="radio_easy">
              <label class="form-check-label" for="radio_easy">
                Легкий
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="radio_difficulty" id="radio_medium" checked>
              <label class="form-check-label" for="radio_medium">
                Средний
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="radio_difficulty" id="radio_hard">
              <label class="form-check-label" for="radio_hard">
                Сложный
              </label>
            </div>
            <br>
            <button type="button" class="btn btn-primary" onclick="start_game()">Играть</a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Copyright, 2021</span>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="./static/script.js"></script>
    <script src="https://kit.fontawesome.com/37e35abaf0.js" crossorigin="anonymous"></script>
  </body>
</html>